<a href="https://colab.research.google.com/github/julianox5/Desafio-Hackathon/blob/master/Pandas_para_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas DataFrame
**DataFrames** são a estrutura central de dados da API do pandas, É semelhante a uma planilha :

##Importando módulos NumPy e Pandas

In [0]:
import numpy  as np
import pandas as pd

## Criando um DataFrame
Instanciar uma pd.DataFrame classe para gerar um DataFrame com 10 celulas, 5 linhas e 2 colunas nomeadas

In [33]:
# Criandp e preenchendpo uma matriz NumPy 5x2
meus_dados = np.array([[0,3] , [10,7] , [20,9] ,[30,14] , [40,15]])

# Criando lista para os nomes das 2 colunas
nomes_colunas = ['temperatura' , 'atividade']

# criando um DataFrame
meu_dataframe = pd.DataFrame (data=meus_dados, columns=nomes_colunas)

# imprimindo o DataFrame
print(meu_dataframe)

   temperatura  atividade
0            0          3
1           10          7
2           20          9
3           30         14
4           40         15

#Adicionando coluna a um DataFrame
Criando uma terceira coluna

In [32]:
#Criando uma nova coluna 
meu_dataframe["ajustado"] = meu_dataframe["atividade"]
print(meu_dataframe)

NameError: ignored

#Maneiras de isolar linhas,colunas ou celulas em um DataFrame

In [31]:
print("Meu DataFrame Completo:")
print(meu_dataframe, '\n')

print("Linhas 0 e 1:")
print(meu_dataframe.head(2), '\n')

print("Linha 1:")
print(meu_dataframe.iloc[[1]], '\n')

print("Linhas 1, 2 e 3:")
print(meu_dataframe[ 1 : 4], '\n')

print("Coluna 'temperatura' :")
print(meu_dataframe['temperatura'])

Meu DataFrame Completo:

NameError: ignored

#Tarefa 1 : Criar Um DataFrame
Seguir as etapas:
1. Criar um Pandas Dataframe 3x4, colunas nomeadas  
2. Imprimir o valor da segunda linha da 1º coluna
3.Criar nova coluna, cujo o conteúdo é a soma Nº de duas outras colunas.

In [13]:
#criando uma lista python que contenha os nomes das colunas
coluna_nome = ['Eleanor','Chidi','Tahani','Jason']

#Criand uma matriz numpy 3x4 prenchida com números int aleatórios, numpy.random.randint()
input_matriz = np.random.randint(low=10, high=100, size = (3,4))
tarefa_dataframe = pd.DataFrame(data=input_matriz, columns=coluna_nome)
print(tarefa_dataframe)

#Imprimindo 2ºlinha 1ºcoluna
print("\n Segunda linha da coluna Eleanor: %d \n "%tarefa_dataframe['Eleanor'][1])

#Criando nova coluna Janet, seu conreúdo será a soma nº de duas outras colunas
tarefa_dataframe['Janet'] = tarefa_dataframe['Tahani'] + tarefa_dataframe['Jason']
print(tarefa_dataframe)

   Eleanor  Chidi  Tahani  Jason
0       55     19      24     45
1       66     51      54     70
2       61     62      67     82

 Segunda linha da coluna Eleanor: 66

   Eleanor  Chidi  Tahani  Jason  Janet
0       55     19      24     45     69
1       66     51      54     70    124
2       61     62      67     82    149

#Criar uma copia de um DataFrame
Existe duas maneiras de fazer isso 
* Por Referência, atribuindo um DataFrame a uma variável, qualquer alteraçõe em um vai alterar outro
* Copiando o método pandas.DataFrame.copy criará uma cópia, e se fizer alterção na copia não irá alterar no original

In [42]:
# Criando uma referência atribuindo meu_dataframe a uma variavel 
print
referencia_df = tarefa_dataframe
print("'Copiando um DataFrame por referencia \n")
#Imprimindo o valor inicial de uma célula 
print("Valor inicial tarefa_DataFrame: %d " %tarefa_dataframe['Jason'][1])
print("Valor inicial referencia_df %d\n\n"%referencia_df['Jason'][1])

#Modificando a célula do tarefa_dataframe
tarefa_dataframe.at[1,'Jason'] = tarefa_dataframe['Jason'][1]+3
print("Atualizando tarefa_dataframe: %d"%tarefa_dataframe['Jason'][1])
print("Atualizando referencia_df: %d\n\n"%referencia_df['Jason'][1])

#Criando uma copia do meu_dataframe
copia_df = meu_dataframe.copy()
print("-Criando uma copia do DataFrame\n")

#imprimindo valores iniciais
print("Valor inicial do meu_dataframe: %d"%meu_dataframe['atividade'][1])
print("Valor inicial do copia_df: %d\n"%copia_df['atividade'][1])

#Atualizando valores do meu dataframe original e verificando se teve
#alguma alteração na minha cópia
meu_dataframe.at[1,'atividade'] = meu_dataframe['atividade'][1]+2
print("Alterando valores do meu_dataframe: %d"%meu_dataframe['atividade'][1])
print("Mostrar se teve alteração na minha copia_df: %d" %copia_df['atividade'][1])

'Copiando um DataFrame por referencia

Valor inicial tarefa_DataFrame: 101
Valor inicial referencia_df 101


Atualizando tarefa_dataframe: 104
Atualizando referencia_df: 104


-Criando uma copia do DataFrame

Valor inicial do meu_dataframe: 11
Valor inicial do copia_df: 11

Alterando valores do meu_dataframe: 13
Mostrar se teve alteração na minha copia_df: 11